<div class="mainwrapregister">

<form method="post" action="/auth/signup" method="POST">

<p class="sign" align="center">Register</p>

      <input
      class="un" 
      type="text" 
      name="username" 
      placeholder="Your Username" 
      value="{{username}}"
      />
      {{#if errorMessage}} 
         <div>{{errorMessage}}</div>
      {{/if}}
   </label>
      <input
      class="un"
      type="email" 
      name="email" 
      placeholder="Your Email Address"
      value="{{email}}"
      >
      {{#if errorMessage}}
         <div>{{errorMessage}}</div>
      {{/if}}

      <input class="un" type="password" name="password" placeholder="Your Password">
      {{#if passwordError}}
         <div>{{passwordError}}</div>
      {{/if}}
   </label>
      <input class="un"
         type='password'
         name='confirmPassword'
         placeholder='Confirm your password'
    />
<button class="registernowbtn" type="submit" >Create Your Account</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
</div>
