<h2>Update user</h2>

{{! update username, update email }}
<form method="post" action="/settings/update-user">
    
  <label>Username
    <input
      type="text"
      name="username"
      placeholder="Username"
      value="{{user.username}}"
    />
     {{#if usernameError}} 
         <div>{{usernameError}}</div>
      {{/if}}



  </label>
  <br />

  <label>Email
    <input
      type="text"
      name="email"
      placeholder="Email"
      value="{{user.email}}"
    />
       {{#if emailError}} 
         <div>{{emailError}}</div>
      {{/if}}
  </label>
  <br />


  <button type="submit">Save Your Changes</button>


  {{#if sucessMessage}} 
         <div>{{sucessMessage}}</div>
      {{/if}}
</form>