<main id="main">
{{#each data.results}}




{{!-- MOVIE POSTER --}}
<div class="movie">
    {{#if poster_path.length}}
<img src="https://image.tmdb.org/t/p/w500{{poster_path}}">
 {{/if}}



{{!-- TITLE MOVIE --}}
<div class="movie-info">
<h3>{{original_title}}</h3>
 <span class="${getColor(vote_average)}">{{vote_average}}</span>
</div>

{{!-- Overview/Movie Info --}}
<div class="overview">
<h3>{{original_title}}</h3>
{{overview}}

{{!-- Watched/Watchlist Buttons --}}
<div class="button-group">
<br>
<a class="buttono" href="/watchlist/create?id={{id}}&original_title={{original_title}}&poster_path={{poster_path}}">Watchlist</a>
<br>
<a class="buttono" href="/watchedlist/create?id={{id}}&original_title={{original_title}}&poster_path={{poster_path}}">Favourites</a>
</div>

</div>
</div>


</div>

{{/each}}
</main>

<script src="/js/script.js"></script>