<main id="main">
{{#each data.results}}

{{!-- MOVIE POSTER --}}
<div>

<div class="movie">
    {{#if poster_path.length}}
<img src="https://image.tmdb.org/t/p/w500{{poster_path}}">
 {{/if}}



{{!-- TITLE MOVIE --}}
<div class="movie-info">
<h3>{{original_title}}</h3>
<span class="${getColor(vote_average)}">{{vote_average}}</span>

{{!-- Overview/Movie Info --}}
<div class="overview">
<h3>{{original_title}}</h3>
{{overview}}
<br>
<button>Add to the list</button>
</div>
</div>

</div>



{{/each}}
</main>